<html>
	<head>
		<title>This is the Home Page</title>
	</head>
	<body>
		<h1>Student's Lowest Grades</h1>
		<h2>Accumulated Students</h2>
		{{#each items}}
		<p><a href="/detail?name={{ name }}">{{name}}</a></p>
		{{/each}}

        <form action="/detail" method="POST">
            <input type="text"
                   name="name"
                   required="required" 
                   maxlength="100"
                   placeholder="Search by Student's Name"/>
            <button>Search</button>
        </form>
        <br>
        <form action="/delete" method="post">
  		  Remove by name: 
    	<br>
    		<input type="text" name="title">
			<input type="submit" value="Delete">
		</form>
		<br>
		<form action="/add" method="POST">
   		 Add by name, last name, lowest grade letter, class of grade, and year of class:
    	<br>
  		    <input type="text" name="name" placeholder="First Name">
    	<br>
   	 		<input type="text" name="family" placeholder="Last Name">
    	<br>
    		<input type="text" name="grade" placeholder="Grade">
    	<br>
   		 	<input type="text" name="course" placeholder="Course">
   		<br>
   			<input type="text" name="year" placeholder="Year">
    	<br>
   			<input type="submit" value="Add">
		</form>
	</body>
</html>	
	
